<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1>Log In</h1>
    <%= form_tag sessions_path do %>
      <div class="form-group">
        <%= text_field_tag :email, params[:email], type: 'email', class: "form-control", placeholder: "Email" %>
      </div>
      <br/>
      <div class="form-group">
        <%= password_field_tag :password , params[:password], class: "form-control", placeholder: "password" %>
      </div>
      <br/>
      <%= submit_tag "Log In", class: "btn btn-primary" %>
      <%= link_to "Forgot Password", new_password_reset_path %>
    <% end %>
  </div>
</div>