<h1><%= @todo_list.title %></h1>

  
<% if @todo_list.is_incomplete_items? %>
<h3>Incomplete Items:</h3>

<ul>
	<% @todo_list.items.incomplete.each do |item| %>
	<li><%= item.content %></li>
	<% end %>
</ul>
<% end %>


<% if @todo_list.is_complete_items? %>
<h3>complete Items:</h3>

<ul>
	<% @todo_list.items.complete.each do |item| %>
	<li><%= item.content %></li>
	<% end %>
</ul>
<% end %>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
