<% if @item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@todo_item.errors.count, "error") %> prohibited this todo item from being saved:</h2>
    <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for [@todo_list, @item], html: { multipart: true } do |form| %>
  <%= form.label :content %>
  <%= form.text_field :content %>
  <%= form.label :address %>
  <%= form.text_field :address %>
  <%= form.submit "Save" %>



<% end %>
